/*******************************************************
Logo navbar
*******************************************************/
@media all and (min-width: 768px) and (max-width: 1588px)
{
    .menu-actif
    {
        margin: 0 0 0 0%;
    }

    #ancres1
    {
        padding: 10px 90px 10px;
    }

    .menu
    {
        margin-top: 0px;
    }
}

@media all and (min-width: 568px) and (max-width: 768px)
{
    header a
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #logo-link
    {
        position: absolute;
        padding: 15px;
        margin: 45px 0 0 0px;
    }

    .menu-actif
    {
        display: flex;
        align-content: flex-start;
        margin: 0 0 0 20%;
    }

    #ancres1
    {
        padding: 15px 0px 10px 0;
    }

    #ancres2
    {
        padding: 15px 40px 10px;
    }

    nav
    {
        display: flex;
    }

    .inscription
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 30px 30px 25px 0;
    }
}

@media all and (min-width: 320px) and (max-width: 568px) 
{
    header a
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 15px 0 0 20px;
    }

    #logo-link 
    {
        position: absolute;
        padding: 15px 15px 15px 0;
        margin: 40px 0 0 0px;
    }

    nav
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        position: absolute;
        margin: 20px 0 0 0;
    }

    .menu-actif
    {
        display: flex;
        align-content: flex-start;
    }

    #ancres1
    {
        padding: 20px 40px 10px 35px;
        border-bottom: 4px solid rgb(230, 227, 227);
    }

    #ancres1:hover
    {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }

    #ancres2
    {
        padding: 20px 20px 10px 30px;
        border-bottom: 4px solid rgb(230, 227, 227);
    }

    #ancres2:hover
    {
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }

    .inscription
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 48px 30px 25px 0;
    }
}

/*************************************
Barre de recherche
*************************************/
@media all and (min-width: 768px) and (max-width: 1588px) 
{
    #searching h1
    {
        margin: 0 0 0 70px;
        padding: 0 0 15px 0;
    }

    #searching p
    {
        margin: 0 0 0 60px;
    }

    #zon-searching
    {
        margin: 0px 0 40px 40px;
    }
}
@media all and (min-width: 568px) and (max-width: 768px)
{
    #searching h1
    {
        font-size: 1.5rem;
        padding: 0px 0 15px 0px;
        margin-left: 60px;
    }

    #searching p
    {
        margin: 0 0 0 50px;
        font-size: 1.2rem;
        padding: 0 0 15px 10px;
    }

    #site-search
    {
        width: 50%;
    }

    #zon-searching
    {
        margin: 0px 0 20px 40px;
    }

    .icone
    {
        left: 15px;
    }
}

@media all and (min-width: 320px) and (max-width: 568px)
{
    #searching h1
    {
        font-size: 1.2rem;
        padding: 40px 0 15px 0px;
        margin: 35px 25px 0 25px;
    }

    #searching p
    {
        margin: 0 10px 10px 0px;
        font-size: 1rem;
        padding: 0 20px 0px 25px;
    }

    #zon-searching
    {
        margin: 0 0 25px 20px;
    }

    .icone
    {
        left: 5px;
        font-size: 1rem;
    }

    #site-search 
    {
        width: 60%;
        height: 20px;
        font-size: 15px;
        padding: 30px;
    }

    .research
    {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    .fa-search::before 
    {
        position: relative;
        content: "\f002";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 1.2rem;
        color: rgb(250, 249, 249);
        width: 60px;
        height: 60px;
        background: #0065FC;
        border: 5px solid #0065FC;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*************************************
Les filtres
*************************************/
@media all and (min-width: 768px) and (max-width: 1588px) 
{
    .body
    {
        width: 100%;
    }

    #container-filter
    {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0 70px;
    }

    .info
    {
        align-items: baseline;
        padding: 20px 0 10px 20px;
        margin-left: 30px;
    }

    .icon-info
    {
        height: 30px;
    }
}

@media all and (min-width: 568px) and (max-width: 768px)
{
    .body
    {
        width: 100%;
    }
    
    #container-filter
    {
        flex-wrap: wrap;
        margin: 0 0 0 40px;
    }

    #container-filter h2
    {
        margin-left: 0px;
        padding: 20px;
    }

    #menu-filter
    {
        display: flex;
        flex-direction: column;
    }

    #menu-filter .filter
    {
        margin: 10px;
    }

    .info
    {
        align-items: baseline;
        margin-bottom: 0px;
        padding: 20px 0 10px 15px;
    }

    .icon-info
    {
        height: 50px;
        width: 50px;
        margin: 15px 10px 0 40px;
    }

    .info p
    {
    font-size: 1.5rem;
    font-weight: normal;
    }
}
@media all and (min-width: 320px) and (max-width: 568px)
{
    .body
    {
        width: 100%;
    }
    
    #container-filter
    {
        flex-wrap: wrap;
        margin: 0 0 0 20px;
    }

    #container-filter h2
    {
        margin: 0 20rem 0 15px;
    }

    #menu-filter
    {
        display: flex;
        flex-direction: column;
    }

    #menu-filter .filter
    {
        margin: 10px;
    }

    .info
    {
        display: flex;
        align-items: baseline;
        margin-bottom: 0px;
        padding: 20px 0 10px 20px;
    }

    .icon-info
    {
        width: 40px;
        height: 35px;
        margin: 10px 0px 0 5px;
    }

    .info p
    {
    font-size: 1.2rem;
    font-weight: normal;
    }
}

/************************************
Affichage colonne populaires-hebergt
************************************/
    /*Desktop pc portable*/
@media all and (max-width: 1951px)
{
    #revers
    {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
}

/***********************************
Media queries Hébergements
***********************************/
@media all and (min-width: 1892px) and (max-width: 1951px)
{
    .body
    {
        width: 100%;
    }

    #section-hebergements
    {
        width: 94%;
        margin: 50px 60px 0px 60px;
    }

    #section-hebergements h2
    {
        font-size: 2.2rem;
        padding: 40px 0 40px 80px;
    }

<<<<<<< HEAD
=======
    .infos-diapos-heberg h3
    {
        font-size: 1.5rem;
    }

    .infos-diapos-heberg p
    {
        font-size: 1.2rem;
    }

    .notations
    {
        font-size: 1.2rem;
    }
    
>>>>>>> loupe
    a .imgheberg
    {
        width: 50vw;
        height: 15vw;
        max-width: 445px;
<<<<<<< HEAD
        max-height: 200px;
=======
        max-height: none;
>>>>>>> loupe
    }
    
    .hebergements
    {
        max-width: 50%;
        width: 27%;
        margin: 0 50px 0 50px;
        padding-bottom: 60px;
    }
}
     /*Desktop grand ecran*/
 @media all and (min-width: 1433px) and (max-width: 1892px) 
 {
    .body
    {
        width: 100%;
    }

    #section-hebergements
    {
        width: auto;
        margin: 50px 60px 0px 60px;
    }

    #section-hebergements h2
    {
        font-size: 1.8rem;
        padding: 40px 0 40px 80px;
    }
    
    .hebergements
    {
        max-width: 42%;
        margin: 0 50px 0 50px;
        padding-bottom: 60px;
    }

    a .imgheberg
    {
<<<<<<< HEAD
        width: 100%;
        max-height: 250px;
        min-width: 445px;

=======
        width: 680px;
        height: 15vw;
        max-height: none;
>>>>>>> loupe
    }

    #container-diapos-hebergements
    {
        padding: 0 0 0 0px;   
    }

    .infos-diapos-heberg
    {
        padding: 5px 5px 10px 5px;
        margin: 25px;
    }

    .infos-diapos-heberg h3
    {
        font-size: 1.5rem;
<<<<<<< HEAD
        margin: 10px 0 0 15px;
=======
        margin: 10px;
>>>>>>> loupe
        font-weight: 900;
    }

    .infos-diapos-heberg p
    {
        font-size: 1.2rem;
<<<<<<< HEAD
        margin: 0 0 0 15px;
=======
        margin: 10px;
>>>>>>> loupe
    }

    .notations
    {
<<<<<<< HEAD
        font-size: 1.5rem;
        margin: 15px 0 20px 15px;
=======
        font-size: 1.2rem;
        margin: 20px 0 0px 10px;
>>>>>>> loupe
    }
    
}

    /*Desktop pc portable*/
/*tablettes paysage (landscape)*/
<<<<<<< HEAD
@media all and (min-width: 1024px) and (max-width: 1433px) 
=======
@media all and (min-width: 1430px) and (max-width: 1858px) 
>>>>>>> loupe
{
    .body
    {
        width: 100%;
    }
    
    #section-hebergements
    {
        width: 90%;
        margin: 50px 60px 0 60px;
    }

    #section-hebergements h2
    {
        padding: 20px 0 30px 100px;
    }

    #container-diapos-hebergements
    {
        padding: 0 35px 0 30px;
    }
    
    .hebergements
    {
<<<<<<< HEAD
        width: auto;
        margin: 0px 0 30px 25px;
        padding: 0px;
=======
        max-width: none;
        margin: 0 40px 0 40px;
        padding-bottom: 60px;
>>>>>>> loupe
    }
    
    .infos-diapos-heberg
    {
        padding: 5px 5px 10px 5px;
        margin: 0px;
    }

    .infos-diapos-heberg h3
    {
        font-size: 1.5rem;
        margin: 10px 0 0 15px;
        font-weight: 900;
    }

    .infos-diapos-heberg p
    {
        font-size: 1.2rem;
        margin: 0 0 0 15px;
    }

    .notations
    {
        font-size: 1.5rem;
        margin: 15px 0 20px 15px;
    }

    a .imgheberg
    {
        width: 22vw;
        height: 10vw;
        max-height: none;
    }
}

@media all and (min-width: 1260px) and (max-width: 1430px)
{
    .body
    {
        width: 100%;
<<<<<<< HEAD
        max-height: 450px;
=======
>>>>>>> loupe
    }
    
    #section-hebergements
    {
        width: auto;
        margin: 50px 60px 0 60px;
    }

    #section-hebergements h2
    {
        padding: 20px 0 30px 100px;
    }

    #container-diapos-hebergements
    {
        padding: 0 35px 0 30px;
    }
    
    .hebergements
    {
        max-width: none;
        margin: 0 40px 0 40px;
        padding-bottom: 60px;
    }
    
    .infos-diapos-heberg
    {
        padding: 5px 5px 10px 5px;
        margin: 0px;
    }

    a .imgheberg
    {
        width: 34vw;
        height: 18vw;
        max-height: none;
    }
}

/*tablettes portrait*/
<<<<<<< HEAD
@media all and (min-width: 768px) and (max-width: 1024px) 
=======
@media all and (min-width: 768px) and (max-width: 1260px) 
>>>>>>> loupe
{
    .body
    {
        width: 100%;
    }

    #section-hebergements
    {
<<<<<<< HEAD
        width: auto;
        margin: 50px 40px 0px 50px;
=======
        width: 90%;
        margin: 50px 40px 0px 20px;
>>>>>>> loupe
        padding: 60px 20px 35px 20px;
    }

    
    #container-diapos-hebergements 
    {
        width: auto;
        padding: 0 0 0 0px;
    }

    .hebergements
    {
        max-width: none;
        margin: 0 0px 0 0px;
        padding-bottom: 60px;
    }

    .infos-diapos-heberg
    {
        padding: 5px 5px 5px 5px;
        margin: 25px;
    }

    a .imgheberg
    {
        width: 72vw;
        height: 34vw;
        max-height: none;
    }

    .infos-diapos-heberg h3
    {
        font-size: 1.5;
    }

    .infos-diapos-heberg p
    {
        font-size: 1.2rem;
    }
}

@media all and (min-width: 1024px) and (max-width: 768px) 
{
    .body
    {
        width: 100%;
    }
    
    #section-hebergements
    {
        width: auto;
        margin: 50px 10px 0 10px;
    }

    #section-hebergements h2
    {
        font-size: 1.5rem;
        padding: 10px 0 30px 40px;
    }

    #container-diapos-hebergements
    {
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 20px;
    }

    .hebergements
    {
        min-width: none;
        margin: 0 0 0 0px;
        padding-bottom: 60px;
    }

    .infos-diapos-heberg
    {
        padding: 5px 5px 5px 5px;
        margin: 25px;
    }

    a .imgheberg
    {
        width: 78vw;
        height: 50vw;
        max-height: none;
    }

    .Afficher_plus
    {
        padding: 0px 0px 0px 40px;
    }
}

@media all and (min-width: 320px) and (max-width: 768px)
{
    .body
    {
        width: 100%;
    }
    
    #section-hebergements
    {
        width: auto;
        margin: 50px 5px 0 5px;
    }

    #section-hebergements h2
    {
        font-size: 1.5rem;
        padding: 10px 0 30px 10px;
    }

    #container-diapos-hebergements
    {
        display: flex;
        flex-direction: column;
        padding: 0 0px 0 0px;
    }

    .hebergements
    {
        min-width: auto;
        margin: 0 0 0 0px;
        padding-bottom: 60px;
    }

    a .imgheberg
    {
<<<<<<< HEAD
        width: 100%;
        max-height: 450px;
=======
        width: 89vw;
        height: 60vw;
        max-height: none;
>>>>>>> loupe
    }

    .Afficher_plus
    {
        margin: 25px;
    }
}
       
/*********************************************************
Media queries Les plus populaires
*********************************************************/
@media all and (min-width: 1892px) and (max-width: 1951px)
{
    #section-lespluspopulaires 
    {
        width: 90%;
        display: inline-block;
        margin: 0 60px 0 60px;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 70px;
        font-size: 1.5rem;
    }

<<<<<<< HEAD
    #section-lespluspopulaires a 
=======
    #section-lespluspopulaires a
>>>>>>> loupe
    {
        display: inline-block;
    }

    .iconpop
    {
        padding: 10px 0 0 68%;
    }

    #container-diapos-lespluspopulaires
    {
        width: auto;
        display: flex;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        font-size: 1rem;
        border-radius: 24px;
        border-right: 15px;
        border-left: 15px;
        margin: 30px;
        background-color: white;
        padding: 5px 5px 5px 5px;
        box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
    }
    
    #container-diapos-lespluspopulaires .imgpops 
    {
<<<<<<< HEAD
        width: 100%;
=======
        width: 26vw;
>>>>>>> loupe
        max-height: 250px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .informations h3
    {
        font-size: 1.5rem;
        margin: 0px 0 5px 15px;
    }

    .informations p 
    {
        font-size: 1.2rem;
        margin-left: 15px;
    }

    .notpop
    {
        margin: 0px 0 10px 15px;
        font-size: 1.2rem;
    }  
}

    /*tablettes et pc portable*/
@media all and (min-width: 1547px) and (max-width: 1892px)
{
    #section-lespluspopulaires 
    {
        width: auto;
        display: inline-block;
        margin: 0 60px 0 60px;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 60px;
    }

<<<<<<< HEAD
    #section-lespluspopulaires a 
    {
        display: inline-block;
    }

=======
    #section-lespluspopulaires a
    {
        display: inline-block;
    }
    
>>>>>>> loupe
    .iconpop
    {
        padding: 10px 0 0 60%;
    }
    
    #container-diapos-lespluspopulaires
    {
        width: auto;
        display: flex;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        font-size: 1rem;
        border-radius: 24px;
        border-right: 15px;
        border-left: 15px;
        margin: 30px;
        background-color: white;
        padding: 5px 5px 5px 5px;
        box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
    }
<<<<<<< HEAD
    
    #container-diapos-lespluspopulaires .imgpops 
    {
        width: 100%;
=======

    #container-diapos-lespluspopulaires .imgpops 
    {
        width: 25vw;
>>>>>>> loupe
        max-height: 250px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .container-imgpops
    {
        width: revert;
    }

    .informations h3
    {
        font-size: 1.5rem;
        margin: 0px 0 5px 10px;
    }

    .informations p 
    {
        font-size: 1.2rem;
        margin-left: 10px;
    }

    .notpop
    {
        margin: 0px 0 10px 10px;
        font-size: 1.2rem;
    }  
}

@media all and (min-width: 1230px) and (max-width: 1547px) 
{
    #section-lespluspopulaires 
    {
        width: auto;
        display: inline-block;
        margin: 0px 60px 0px 60px;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 40px;
        font-size: 1.5rem;
    }

    #section-lespluspopulaires a 
    {
        display: inline-block;
    }

    .iconpop
    {
        padding: 10px 0 0 60%;
    }

    #container-diapos-lespluspopulaires .imgpops 
    {
        min-width: 50%;
        max-height: 200px;
    }

    #container-diapos-lespluspopulaires
    {
        width: auto;
        display: flex;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        font-size: 1rem;
        border-radius: 24px;
        border-right: 15px;
        border-left: 15px;
        margin: 15px;
        background-color: white;
        padding: 5px 5px 5px 5px;
        box-shadow: 5px 5px 10px #cecdcd, -5px -5px 10px #cfcece;
    }
    
    #container-diapos-lespluspopulaires .imgpops 
    {
        width: 100%;
        max-height: 210px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }


    .informations h3
    {
        font-size: 1.5rem;
        margin: 0px 0 5px 15px;
    }

    .informations p 
    {
        font-size: 1.2rem;
        margin-left: 15px;
    }

    .notpop
    {
        margin: 10px 0 0 15px;
        font-size: 1.2rem;
    }  
}

/*tablettes portrait*/
@media all and (min-width: 768px) and (max-width: 1230px)  
{
    #section-lespluspopulaires 
    {
        width: 88%;
        margin: 0px 40px 0px 20px;
        padding: 30px 0px 30px 55px;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 0px;
    }

    .iconpop
    {
        padding: 10px 0 0 30%;
    }

    #container-diapos-lespluspopulaires .imgpops 
    {
        min-width: 50%;
        max-height: 150px;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        width: auto;
        padding: 5px 0em 5px 5px;
        margin: 30px 110px 30px 15px;
    }

    .informations h3
    {
        font-size: 1.4rem;
        margin: 0px 0 5px 15px;
    }

    .informations p 
    {
        font-size: 1.2rem;
        margin-left: 15px;
    }

    .notpop
    {
        margin: 0px 0 0 15px;
        font-size: 1.2rem;
    }  
}

@media all and (min-width: 568px) and (max-width: 768px)
{
    #section-lespluspopulaires 
    {
        width: auto;
        margin: 20px 10px 0px 10px;
        padding: 40px 0px 40px 0px;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 30px;
        font-size: 1.5rem;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        width: auto;
        margin: 30px 80px 30px 60px;
    }

    .lespluspopulaires
    {
        margin: 40px 130px 10px 30px;
    }

    #container-diapos-lespluspopulaires .imgpops
    {
        min-width: 50%;
        
    }

    .container-imgpops
    {
        width: revert;
        object-fit: cover;
    }

    .informations p
    {
        padding: 0 0 20px 0;
    }

    .iconpop
    {
        display: flex;
        padding: 10px 0 0 35%;
        font-size: 1.8rem;
    }

    .notpop
    {
        font-size: 1.2rem;
    }
}

    /*Mobiles*/
@media all and (min-width: 320px) and (max-width: 568px)
{
    #section-lespluspopulaires 
    {
        width: auto;
        margin: 20px 5px 0px 5px;
        padding: 40px 10px 40px 10px; 
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 0px;
        font-size: 1.5rem;
        padding: 10px 0 0 25px;
    }

    #container-diapos-lespluspopulaires
    {
        width: auto;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        width: auto;
        margin: 30px;
        padding: 5px 0px 5px 5px;
    }

    #container-diapos-lespluspopulaires .imgpops
    {
        height: 100%;
        object-fit: cover;
    }

    .informations h3
    {
        font-size: 0.98rem;
        font-weight: bold;
    }

    .informations p
    {
        font-size: 0.83rem;
        padding: 0 0 20px 0;
    }

    .titre-pops
    {
        padding: 0 0 0 0;
    }

    .iconpop
    {
        display: flex;
        padding: 10px 0 0 35%;
        font-size: 1.8rem;
    }

    .notpop
    {
        font-size: 0.88rem;
        margin-top: 20px;
    }
}

/*************************************
Media queries section activités
*************************************/

@media screen and (max-width: 1960px)
{
    .body
    {
        width: 100%;
    }
    
    .main 
    {
        width: 100%;
    }
}

@media all and (min-width: 1548px) and (max-width: 1960px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 92%;
    }   
}

/*************************************
affichage tablette
*************************************/
@media all and (min-width: 1425px) and (max-width: 1588px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 100%;
        height: auto;
        margin: 0 0 0 0;
    }

    #container-diapos-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vieuxport
    {
        width: 92%;
        height: 50%;
        margin: 0 0 40px 60px;
        justify-content: center;
    }

    .flex-col
    {
        width: 92%;
        height: 100%;
        margin: 0px 10px 40px 60px;
        justify-content: center;
    }

    .calanque
    {
        width: 92%;
        height: 50%;
        margin: 0 10px 40px 60px;
        justify-content: center;
    }

    .imghte
    {
        height: 206px;
    }

    #section-activites h2
    {
        padding: 40px 0 30px 80px;
    }
}

@media all and (min-width: 1230px) and (max-width: 1425px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 100%;
        height: auto;
        margin: 0 0 0 0;
    }

    #container-diapos-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vieuxport
    {
        width: 91%;
        height: 50%;
        margin: 0 0 40px 60px;
        justify-content: center;
    }

    .flex-col
    {
        width: 91%;
        height: 100%;
        margin: 0px 10px 40px 60px;
        justify-content: center;
    }

    .calanque
    {
        width: 91%;
        height: 50%;
        margin: 0 10px 40px 60px;
        justify-content: center;
    }

    .imghte
    {
        height: 206px;
    }

    #section-activites h2
    {
        padding: 40px 0 30px 80px;
    }
}

@media all and (min-width: 768px) and (max-width: 1230px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 100%;
        height: auto;
        margin: 0 0 0 0;
    }

    #container-diapos-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vieuxport
    {
        width: 90%;
        height: 50%;
        margin: 0 0 40px 50px;
        justify-content: center;
    }

    .flex-col
    {
        width: 90%;
        height: 100%;
        margin: 0px 10px 40px 50px;
        justify-content: center;
    }

    .calanque
    {
        width: 90%;
        height: 50%;
        margin: 0 10px 40px 50px;
        justify-content: center;
    }

    .imghte
    {
        height: 206px;
    }

    #section-activites h2
    {
        padding: 40px 0 30px 80px;
    }
}

/*************************************
affichage mobile
*************************************/
@media all and (min-width: 568px) and (max-width: 768px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 90%;
        height: auto;
        margin: 0 0 0 13px;
    }

    #container-diapos-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vieuxport
    {
        width: 105%;
        height: 50%;
        margin: 0 10px 40px 5px;
        justify-content: center;
    }

    .flex-col
    {
        width: 105%;
        height: 100%;
        margin: 0px 10px 40px 5px;
        justify-content: center;
    }

    .calanque
    {
        width: 105%;
        height: 50%;
        margin: 0 10px 40px 5px;
        justify-content: center;
    }

    .imghte
    {
        height: 206px;
    }

    #section-activites h2
    {
        padding: 40px 0 30px 20px;
    }
}

@media all and (min-width: 320px) and (max-width: 568px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 90%;
        height: auto;
        margin: 0 0 0 13px;
    }

    #container-diapos-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vieuxport
    {
        width: 100%;
        height: 50%;
        margin: 0 10px 40px 5px;
        justify-content: center;
    }

    .flex-col
    {
        width: 100%;
        height: 100%;
        margin: 0px 10px 40px 5px;
        justify-content: center;
    }

    .calanque
    {
        width: 100%;
        height: 50%;
        margin: 0 10px 40px 5px;
        justify-content: center;
    }

    .imghte
    {
        height: 206px;
    }

    #section-activites h2
    {
        padding: 40px 0 30px 20px;
        font-size: 1.5rem;
    }
}

/*************************************
Media Queries Footer
*************************************/
@media all and (min-width: 768px) and (max-width: 1588px)
{
    .body
    {
        width: 100%;
    }
    
    footer
    {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .bloc
    {
        margin: 0 40px 50px 35px;
    }
}

@media all and (min-width: 768px) and (max-width: 1230px)
{
    .contenu
    {
        display: flex;
        flex-direction: column;
        
    }
}


@media all and (min-width: 568px) and (max-width: 768px)
{
    .body
    {
        width: 100%;
    }
    
    footer
    {
        width: auto;
        height: auto;
        margin: auto;
    }

    .bloc
    {
        width: auto;
        margin: 30px 0px 30px 20px;
    }

    .contenu
    {
        display: flex;
        flex-direction: column;
        
    }
}

/*footer Mobiles*/
@media all and (min-width: 320px) and (max-width: 568px)
{
    .body
    {
        width: 100%;
    }
    
    footer
    {
        width: auto;
        height: 800px;
        margin: auto;
    }

    .bloc
    {
        width: auto;
        margin: 30px 0px 30px 20px;
    }

    .contenu
    {
        display: flex;
        flex-direction: column;        
    }

    .a_propos a,
    .nos_hebergements a,
    .assistance a
    {
        font-size: 1rem;
    }
}
