/**************************************
Eléments du corps de la page
***************************************/

body
{
    
    font-size: 80%;
    font-family: 'Raleway', sans-serif;
   /* min-width: 320px;*/
}

header, main
{
    max-width: 100%;
    margin: 0 auto;
    min-width: 300px;
}

main
{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

a
{
    text-decoration: none;
    color: black;
}

h1
{
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px 0;
    font-family: 'Raleway', sans-serif;
    margin-left: 3.5;
}

h2
{
    padding: 20px 0;
    font-size: 1.3em;
    font-weight: bold;
}


h3
{
    padding: 10px 0;
    font-size: 0.9em;
    font-weight: bold;
}

p
{
    font-size: 0.95em;
    /*color: black;
    margin-left: 30px;
    font-size: 1em;
    line-height: 10px;
    margin-top: 10px;
    font-family: 'Raleway', Arial, sans-serif;
    text-align: auto;*/
}

section
{
    padding: 20px;
    min-width: 320px;
}

article
{
    min-width: 320px;
    max-width: 650px;
    margin: 0 auto;
}

.prices
{
    font-weight: bold;
}

/*.notations
{
    font-size: 0.8em;
    color: #0065FC;
}*/


.notations
{
    color: #0065FC;
    font-size: 0.8em;
}

.notations-inactive 
{
    display: inline;
    color: #cac7c7;
}

/******************************
Header
*******************************/
header
{
    flex: 0 0 100%;
    min-width: 320px;
    /*height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;*/
}

#logo-link
{
    width: 150px;
}

#logo
{
    width: 5%;
    padding: 15px;
}

/******************************
nav bar
*******************************/

nav ul
{
    text-decoration: none;
    font-weight: bold;
    list-style-type: none;
}

nav li
{
    display: inline-block;
    padding: 10px 50px 10px;
}

.ancres1 a,
.ancres2 a
{
    color: #0065FC;
}

.ancres1 a:hover,
.ancres2 a:hover
{
    color: #0065FC;
    font-weight: bold;
    font-size: 1.2rem;
}


.inscription
{
    color: rgb(23, 23, 250);
    font-weight: bold;
    font-size: 1.2rem;
}

/********************************
barre de recherche
********************************/

#site-search /* zone de saisie */
{
    border-radius: 10px;                   /* rayon de la bordure */
    padding: 11px;                        /* remplissage de la zone de saisie */
    outline-color: rgb(247, 247, 242);                        /* contour */
    outline: 10px;
    padding-left: 50px;                   /* remplissage à gauche */
    margin-top: 10px;                       /* haut de la marge */
    margin-bottom: 20px;                  /* marge inférieure */
    color: #090911;                       
    text-size-adjust: 4em;                /* ajustement de la taille du texte */  
    border-left: none;
    border-right: none;
    font-size: 20px;                        /* taille de police */
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
    border: 2px solid rgb(252, 250, 250);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 55px;
}


.icone 
{
    position: relative;
    height: 20px;
    width: 20px;
    font-size: 1.2rem;
    background-color: #f2f2f2;
    padding: 15px 20px;
    left: 32px;
    top: 50%;
    border: 2px solid rgb(253, 252, 252);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transform: translateY(-50%);
    color: black;
}



.research /*Button search*/
{
    position: relative;
    background-color: #0065FC;
    font-size: 1.2rem;
    border-radius: 0px;
    outline-color: white;                       /* couleur du contour */
    width: 140px;
    height: 55px;
    color: white;
    font-weight: bold;                          /* poids de la police: gras */
    border-color:  #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 2px solid #0065FC;
    transform: translateX(-5%);
    transition: opacity 0.4s;
}

.research:hover
{
    opacity: 0.8;
}

/*******************************
Les filtres
*******************************/


/*******************************
Hebergements Marseille
********************************/
.section-hebergements
{
    width: 60%;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 3em;
    margin-left: 3.5em;
    padding: 30px 40px 0px 50px;
}

.container-diapos-hebergements
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;    
    /*display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(auto 14rem 2rem 2rem 14rem 2rem 2rem); 
    grid-gap: 30px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;*/
    background-color: #f2f2f2;
    padding: 5px 5px 80px 5px;
    
}
.section-hebergements article
{
    display: flex;
    background-color: white;
    padding: 5px 5px 80px 5px;
}

/*****************************************
Diapos main
*****************************************/
.infos-diapos-hebergements
{
    font-size: 1.2rem;
    border-radius: 20px;           
    border-right: 15px;
    border-left: 15px;
}

/*************************************
Images (Hébergements à Marseille)
*************************************/

a .imgheberg
{
    width: 250px;                 
    max-height: 150px;                 
    min-width: 70px;              
    border-top-left-radius: 20px;       /* ok */
    border-top-right-radius: 20px       /* ok */
}

/*********************************
Liens diapos
*********************************/
.infos-diapos-hebergements:hover
{
    cursor: pointer;
    padding: 3px;
}

/*********************************
Section Lespluspopulaires
*********************************/
#section-lespluspopulaires
{
    width: 25%;
    position: relative;
    background-color: #f2f2f2;
    font-size: 1.3em;
    margin-left: 120px;
}

#section-lespluspopulaires .fa-chart-line .titre-pops
{
    padding: 20px 0;
    font-size: 1.3em;
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#section-lespluspopulaires, article
{
    padding: 0px 0px 0px 15px;
    border-radius: 20px;
    margin: 10px 10px;
    background-color: #f2f2f2; /*ok*/
}

/****************************************
Container diapos lespluspopulaires
****************************************/
#container-diapos-lespluspopulaires a
{
    display: flex;    
    background-color: white;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 40px;
    padding: 5px 200px 5px 5px;
}

#container-diapos-lespluspopulaires h3
{
    padding: 0px 0px 0px 20px;
    display: inline-flex;
}

p 
{
    display: inline-flex;
}

.infos-diapos_lespluspopulaires
{                                    
    font-size: 1.2rem;
    border-radius: 20px;          
}

/*********************************
images lespluspopulaires
**********************************/
a, .imgpops
{
    width: 200px;
    max-height: 160px;
    min-width: 150px;
    border-radius: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-top: 10px;
    object-fit: cover;
}

.titre-pops
{
    padding-left: 40px;/*ok*/
}

/*************************************
Diapos Activités à Marseille
*************************************/
.section-activites
{
    background-color: white;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-diapos-activites
{
   /* max-width: 1400px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    box-shadow: 5px 5px 10px #f2f2f2, -5px -5px 10px #f2f2f2;
    border: 1px solid #333;*/
    display: grid;
    /*grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;*/
    grid-gap: 20px;
    grid-row-gap: 5px;
    justify-items: center;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(auto 14rem 2rem 2rem 14rem); 
    grid-gap: 30px;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.imgactivites
{
    width: 300px;
    height: 200px;
    justify-items: center;       
}


{
    width: 250px;
    min-width: 160px;
    height: 50px;
    
    
}


/*.img_activites a
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
    opacity: 0;
    transition: opacity .5s;
}*/

/*.img_activites a:hover
{
    opacity: 0.5;
}*/

  
.imgactivites
{
    width: 250px;
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: stretch;
    justify-content: space-around;
}

.imglarge
{
    grid-column: 1;
    grid-row: 1 / 4;
    border-radius: 20px;
    display: block;
    margin: 0;
    min-width: 200px;
    max-height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: stretch;
    justify-content: space-around;
}


/*************************************
Footer
*************************************/

footer
{
    background-color: #f2f2f2;
    height: 300px;
    width: 100%;
    flex-shrink: 0;    /* empêche la reduction du footer */
}

.contenu  
{
    flex: 1 0 auto; /* le footer prend tous l'espace */
    width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 40px 10px 90px;
}

.bloc
{
    width: 110%;
    margin: 0 10px;
}

.a_propos h3,
.nos_hebergements h3,
.assistance h3
{
    font-size: 20px;
    padding-bottom: 15px;
    color: black;
}

.a_propos ul,
.nos_hebergements ul,
.assistance ul
{
    width: 100%;
    list-style-type: none;
}

.a_propos li,
.nos_hebergements li,
.assistance li
{
    padding: 10px 0;
}

.a_propos a,
.nos_hebergements a,
.assistance a
{
    text-decoration: none;
    color: black;
}

.a_propos a:hover,
.nos_hebergements a:hover,
.assistance a:hover
{
    color: rgb(44, 14, 14);
    font-size: 1.5rem;
}