/*******************************************************
Logo navbar
*******************************************************/
@media all and (min-width: 768px) and (max-width: 1588px)
{
    .menu-actif
    {
        margin: 25px 0 0 0;
    }

    .menu
    {
        margin-top: 20px;
    }
}

@media all and (min-width: 300px) and (max-width: 768px) 
{
    header
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #logo-link 
    {
        position: absolute;
        margin: 15px 0 0 20px;
    }

    nav
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        position: absolute;
        margin-top: 30px;
    }

    .menu-actif
    {
        display: flex;
        align-content: flex-start;
    }

    .ancres1
    {
        padding: 20px 40px 10px;
        border-bottom: 4px solid blue;
    }

    .ancres2
    {
        padding: 20px 40px 10px;
        border-bottom: 4px solid rgb(230, 227, 227);
    }

    .menu
    {
        margin-top: 15px;
    }
        
    .inscription
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 40px 30px 25px 0;
    }
}
/*************************************
Barre de recherche
*************************************/
@media all and (min-width: 768px) and (max-width: 1588px) 
{
    #searching h1
    {
        margin: 0 0 0 40px;
        padding: 0 0 15px 0;
    }

    #searching p
    {
        margin: 0 0 0 30px;
    }
}
@media all and (max-width: 768px)
{
    #searching h1
    {
        font-size: 1.2rem;
        padding: 40px 0 15px 0px;
        margin-left: 30px;
    }

    #searching p
    {
        margin: 0 0 0 25px;
        font-size: 0.98rem;
        padding: 0 0 15px 0;
    }

    #zon-searching
    {
        margin: 0px 0 20px 5px;
    }

    .icone
    {
        left: 15px;
    }

    #site-search
    {
        padding: 0 0 0 30px;
        font-size: 15px;
        margin-top: 10px;
    }

    .research
    {
        display: none;
        width: 50px;
        color: #0065FC;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        transform: translateX(-30%);
    }

    .loupe .fa-search::before
    {
        font-family: font awesome 5free;
        font-weight: 900;
        content: "\f002";
        width: 50px;
        color: #0065FC;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        transform: translateX(-30%);
    }

}

/*************************************
Les filtres
*************************************/
@media all and (min-width: 768px) and (max-width: 1588px) 
{
    .body
    {
        width: 100%;
    }

    #container-filter
    {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0 45px;
    }

    .filter .filter1
    {
        width: 155px;
    }

    .filter .filter2
    {
        width: 130px;
    }

    .filter .filter3
    {
        width: 150px;
    }

    .filter .filter4
    {
        min-width: 230px;
    }

    .info
    {
        align-items: baseline;
        padding: 20px 0 10px 20px;
        height: 30%;
    }

    .icon-info
    {
        height: 50px;
    }
}

@media all and (min-width: 300px) and (max-width: 768px) 
{
    .body
    {
        width: 100%;
    }
    
    #container-filter
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 0 0 0 15px;
    }

    #container-filter h2
    {
        margin-left: 20px;
    }

    #menu-filter .filter
    {
        margin-left: 15px;
    }

    .filter .filter1
    {
        width: 155px;
    }

    .filter .filter2
    {
        width: 130px;
    }

    .filter .filter3
    {
        width: 150px;
    }

    .filter .filter4
    {
        min-width: 230px;
    }

    .info
    {
        display: flex;
        align-items: baseline;
        margin-bottom: 0px;
        padding: 20px 0 10px 15px;
    }

    .icon-info
    {
        height: 50px;
        margin: 15px 10px 0 10px;
    }

    .info p
    {
    font-size: 0.98rem;
    font-weight: normal;
    }
}
/************************************
Affichage colonne populaires-hebergt
************************************/
    /*Desktop pc portable*/
@media all and (max-width: 1588px)
{
    #revers
    {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
}

/***********************************
Media queries Hébergements
***********************************/
/*Desktop ecran large*/
@media all and (min-width: 1878px) and (max-width: 2383px) 
{
        
 }
     /*Desktop grand ecran*/
 @media all and (min-width: 1588px) and (max-width: 1878px) 
 {
    .body
    {
        width: 100%;
    }

     #container-diapos-hebergements
     {
        padding-left: 60px;
    }
    
    .hebergements
    {
        margin-left: 40px;
    }
    
    a .imgheberg
    {
        width: 335px;
        max-height: 175px;
    }
}

    /*Desktop pc portable*/
@media all and (min-width: 1380px) and (max-width: 1588px) 
{
    .body
    {
        width: 100%;
    }

    #section-hebergements
    {
        width: auto;
        margin: 50px 0 0px 0px;
    }

    #section-hebergements h2
    {
        padding: 0 0 30px 115px;
    }

    #container-diapos-hebergements
    {
        width: auto;
        padding: 0 0 0 0px;
    }
    
    a .imgheberg
    {
        width: 580px;
        max-height: 300px;
    }
    
    .hebergements
    {
        margin-left: 45px;
    }
    
    .afficher_plus
    {
        padding: 0 0 0 120px;
    }
}
    
/*tablettes paysage (landscape)*/
@media all and (min-width: 1230px) and (max-width: 1380px) 
{
    .body
    {
        width: 100%;
    }
    
    #section-hebergements
    {
        width: auto;
        margin: 50px 0 0 0;
    }

    #container-diapos-hebergements
    {
        padding: 0 35px 0 30px;
    }
    
    .hebergements
    {
        margin: 0 0 0 40px;
    }
    
    a .imgheberg
    {
        width: 100%;
        max-height: 450px;
    }
}    
/*tablettes portrait*/
@media all and (min-width: 768px) and (max-width: 1230px) 
{
    .body
    {
        width: 100%;
    }

    #section-hebergements
    {
        width: fit-content;
        margin: 50px 3px 0px 3px;
        padding: 60px 20px 35px 20px;
    }

    .hebergements
    {
        margin: 0 40px 0 40px;
    }

    a .imgheberg
    {
        width: 100%;
        max-height: 450px;
    }
}

@media all and (min-width: 300px) and (max-width: 768px) 
{
    .body
    {
        width: 100%;
    }
    
    #section-hebergements
    {
        width: auto;
        margin: 30px 5px 0 5px;
    }

    #section-hebergements h2
    {
        font-size: 1.2rem;
        padding: 10px 0 30px 40px;
    }

    #container-diapos-hebergements
    {
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 20px;
    }

    .hebergements
    {
        min-width: none;
        margin: 0 0 0 0px;
    }

    a .imgheberg
    {
        width: 100%;
        max-height: 450px;
    }

    .Afficher_plus
    {
        padding: 0px 0px 0px 40px;
    }
}
       
/*********************************************************
Media queries Les plus populaires
*********************************************************/
@media all and (min-width: 1588px) and (max-width: 1691px) 
{
    #container-diapos-lespluspopulaires .imgpops 
    {
        width: 100%;
        max-height: 261px;
    }
}

    /*tablettes et pc portable*/
@media all and (min-width: 1350px) and (max-width: 1588px) 
{
    #section-lespluspopulaires 
    {
        width: auto;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 100px;
    }

    .iconpop
    {
        padding: 10px 0 0 60%;
    }
    
    #container-diapos-lespluspopulaires
    {
        width: auto;
    }

    #container-diapos-lespluspopulaires .imgpops 
    {
        min-width: 31.5rem;
        max-height: 200px;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        padding: 5px 4em 5px 5px;
        margin: 40px 140px 0 90px;
    }

    .container-imgpops
    {
        width: revert;
    }

    .informations h3
    {
        font-size: 1.6rem;
        margin: 15px 0 0 20px;
    }

    .informations p 
    {
        font-size: 1.5rem;
        margin-left: 20px;
    }

    .notpop
    {
        margin: 18px 0 0 20px;
    }  
}

/*tablettes portrait*/
@media all and (min-width: 768px) and (max-width: 1350px) 
{
    #section-lespluspopulaires 
    {
        width: auto;
        margin: 0px 3px 0px 3px;
        padding: 30px 0px 30px 55px;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 30px;
    }

    .iconpop
    {
        padding: 10px 0 0 55%;
    }

    #container-diapos-lespluspopulaires .imgpops 
    {
        max-height: 200px;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        width: auto;
        padding: 5px 0em 5px 5px;
        margin: 30px 110px 30px 15px;
    }

    .informations h3
    {
        font-size: 1.6rem;
        margin: 15px 0 0 20px;
    }

    .informations p 
    {
        font-size: 1.5rem;
        margin-left: 20px;
    }

    .notpop
    {
        margin: 18px 0 0 20px;
    }
}

    /*Mobiles*/
@media all and (min-width: 300px) and (max-width: 768px)
{
    #section-lespluspopulaires 
    {
        width: auto;
        margin: 20px 5px 0px 5px;
        padding: 40px 40px 40px 40px;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 25px;
        font-size: 1.2rem;
    }

    #container-diapos-lespluspopulaires
    {
        width: auto;
    }

    .lespluspopulaires
    {
        margin: 40px 130px 10px 30px;
    }

    #container-diapos-lespluspopulaires .imgpops
    {
        min-width: 50%;
        
    }

    .container-imgpops
    {
        width: revert;
        object-fit: cover;
    }

    .informations h3
    {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .informations p
    {
        font-size: 1rem;
        padding: 0 0 20px 0;
    }

    .titre-pops
    {
        padding: 0 0 0 0;
    }

    .iconpop
    {
        display: flex;
        padding: 10px 0 0 55%;
        font-size: 1.8rem;
    }

    .notpop
    {
        font-size: 1.2rem;
    }
}

/*************************************
Section activites
*************************************/
/*************************************
Media queries section activités
*************************************/

@media screen and (max-width: 1960px)
{
    .body
    {
        width: 100%;
    }
    
    .main 
    {
        width: 100%;
    }
}

@media all and (min-width: 1691px) and (max-width: 1890px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        max-width: 100%;
    }   
}

/*************************************
affichage mobile
*************************************/
@media all and (min-width: 768px) and (max-width: 1588px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 100%;
        height: auto;
    }

    #container-diapos-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vieuxport
    {
        width: 94%;
        height: 50%;
        margin: 0 10px 40px 40px;
        justify-content: center;
    }

    .flex-col
    {
        width: 94%;
        height: 100%;
        margin: 0px 10px 40px 40px;
        justify-content: center;
    }

    .calanque
    {
        width: 94%;
        height: 50%;
        margin: 0 10px 40px 40px;
        justify-content: center;
    }

    .imghte
    {
        height: 206px;
    }

    #section-activites h2
    {
        padding: 40px 0 30px 44px;
    }
}
@media all and (min-width: 300px) and (max-width: 768px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 90%;
        height: auto;
        margin: 0 0 0 6px;
    }

    #container-diapos-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vieuxport
    {
        width: 105%;
        height: 50%;
        margin: 0 10px 40px 5px;
        justify-content: center;
    }

    .flex-col
    {
        width: 105%;
        height: 100%;
        margin: 0px 10px 40px 5px;
        justify-content: center;
    }

    .calanque
    {
        width: 105%;
        height: 50%;
        margin: 0 10px 40px 5px;
        justify-content: center;
    }

    .imghte
    {
        height: 206px;
    }

    #section-activites h2
    {
        padding: 40px 0 30px 20px;
    }
}

/*************************************
Media Queries Footer
*************************************/
@media all and (min-width: 768px) and (max-width: 1200px)
{
    .body
    {
        width: 100%;
    }
    
    footer
    {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .bloc
    {
        margin: 0 100px 50px 10px;
    }
}

@media all and (min-width: 300px) and (max-width: 768px)
{
    .body
    {
        width: 100%;
    }
    
    footer
    {
        width: auto;
        height: auto;
        margin: auto;
    }

    .bloc
    {
        width: auto;
        margin: 30px 0px 30px 20px;
    }

    .contenu
    {
        display: flex;
        flex-direction: column;
        
    }
}
