/*******************************************************
Logo navbar
*******************************************************/
@media all and (min-width: 768px) and (max-width: 1588px)
{
    .menu-actif
    {
        margin: 0 0 0 20%;
    }

    .ancres1
    {
        padding: 10px 90px 10px;
    }

    .menu
    {
        margin-top: 0px;
    }
}

@media all and (min-width: 568px) and (max-width: 768px)
{
    header a
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 15px 0 0 20px;
    }

    header a #logo-link
    {
        position: absolute;
        padding: 15px 15px 15px 0;
        margin: 40px 0 0 0px;
    }

    nav
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        position: absolute;
        margin: 20px 0 0 0;
    }

    .menu-actif
    {
        display: flex;
        align-content: flex-start;
    }

    .ancres1
    {
        padding: 20px 40px 10px;
        border-bottom: 4px solid blue;
    }

    .ancres2
    {
        padding: 20px 40px 10px;
        border-bottom: 4px solid rgb(230, 227, 227);
    }

    .inscription
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 40px 30px 25px 0;
    }
}

@media all and (min-width: 320px) and (max-width: 568px) 
{
    header a
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 15px 0 0 20px;
    }

    #logo-link 
    {
        position: absolute;
        padding: 15px 15px 15px 0;
        margin: 40px 0 0 0px;
    }

    nav
    {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        position: absolute;
        margin: 20px 0 0 0;
    }

    .menu-actif
    {
        display: flex;
        align-content: flex-start;
    }

    .ancres1
    {
        padding: 20px 40px 10px;
        border-bottom: 4px solid blue;
    }

    .ancres2
    {
        padding: 20px 40px 10px;
        border-bottom: 4px solid rgb(230, 227, 227);
    }

    .inscription
    {
        display: flex;
        flex-direction: column-reverse;
        margin: 55px 30px 25px 0;
    }
}

/*************************************
Barre de recherche
*************************************/
@media all and (min-width: 768px) and (max-width: 1588px) 
{
    #searching h1
    {
        margin: 0 0 0 70px;
        padding: 0 0 15px 0;
    }

    #searching p
    {
        margin: 0 0 0 60px;
    }

    #zon-searching
    {
        margin: 0px 0 40px 40px;
    }
}
@media all and (min-width: 568px) and (max-width: 768px)
{
    #searching h1
    {
        font-size: 1.8rem;
        padding: 40px 0 15px 0px;
        margin-left: 30px;
    }

    #searching p
    {
        margin: 0 0 0 25px;
        font-size: 1.2rem;
        padding: 0 0 15px 10px;
    }

    #zon-searching
    {
        margin: 0px 0 20px 5px;
    }

    .icone
    {
        left: 15px;
    }

    #site-search
    {
        padding: 0 0 0 30px;
        font-size: 25px;
        margin-top: 10px;
    }

    .research
    {
        display: none;
        width: 50px;
        color: #0065FC;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        transform: translateX(-30%);
    }
}

@media all and (min-width: 320px) and (max-width: 568px)
{
    #searching h1
    {
        font-size: 1.6rem;
        padding: 40px 0 15px 0px;
        margin: 35px 25px 0 25px;
    }

    #searching p
    {
        margin: 0 10px 10px 0px;
        font-size: 1.2rem;
        padding: 0 20px 0px 25px;
    }

    #zon-searching
    {
        margin: 0 0 25px 20px;
    }

    .icone
    {
        left: 5px;
    }

    #site-search
    {
        padding: 10px;
        font-size: 25px;
    }

    .research
    {
        /*display: none;*/
        width: 50px;
        color: #0065FC;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        transform: translateX(-160%);
    }

   /* .research::before
    {
        font-family: font awesome 5free;
        font-weight: 900;
        content: "\f002";
        width: 50px;
        color: #0065FC;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        transform: translateX(-30%);
    }*/
}

/*************************************
Les filtres
*************************************/
@media all and (min-width: 768px) and (max-width: 1588px) 
{
    .body
    {
        width: 100%;
    }

    #container-filter
    {
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0 70px;
    }

    .info
    {
        align-items: baseline;
        padding: 20px 0 10px 20px;
        /*height: 30%;*/
        margin-left: 30px;
    }

    .icon-info
    {
        height: 30px;
    }
}

@media all and (min-width: 568px) and (max-width: 768px)
{
    .body
    {
        width: 100%;
    }
    
    #container-filter
    {
        flex-wrap: wrap;
        margin: 0 0 0 15px;
    }

    #container-filter h2
    {
        margin-left: 0px;
        padding: 20px;
    }

    #menu-filter
    {
        display: flex;
        flex-direction: column;
    }

    #menu-filter .filter
    {
        margin: 10px;
    }

    .info
    {
        align-items: baseline;
        margin-bottom: 0px;
        padding: 20px 0 10px 15px;
    }

    .icon-info
    {
        height: 50px;
        margin: 15px 10px 0 10px;
    }

    .info p
    {
    font-size: 1.5rem;
    font-weight: normal;
    }
}
@media all and (min-width: 320px) and (max-width: 568px)
{
    .body
    {
        width: 100%;
    }
    
    #container-filter
    {
        flex-wrap: wrap;
        margin: 0 0 0 20px;
    }

    #container-filter h2
    {
        margin: 0 20rem 0 15px;
    }

    #menu-filter
    {
        display: flex;
        flex-direction: column;
    }

    #menu-filter .filter
    {
        margin: 10px;
    }

    .info
    {
        display: flex;
        align-items: baseline;
        margin-bottom: 0px;
        padding: 20px 0 10px 20px;
    }

    .icon-info
    {
        width: 40px;
        height: 35px;
        margin: 10px 0px 0 10px;
    }

    .info p
    {
    font-size: 1.2rem;
    font-weight: normal;
    }
}

/************************************
Affichage colonne populaires-hebergt
************************************/
    /*Desktop pc portable*/
@media all and (max-width: 1951px)
{
    #revers
    {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
}

/***********************************
Media queries Hébergements
***********************************/
@media all and (min-width: 1892px) and (max-width: 1951px)
{
    .body
    {
        width: 100%;
    }

    #section-hebergements
    {
        width: auto;
        margin: 50px 60px 0px 60px;
    }

    #section-hebergements h2
    {
        font-size: 2.2rem;
        padding: 40px 0 40px 80px;
    }

    /*#container-diapos-hebergements
    {
        width: auto;
    }*/

    .infos-diapos-heberg h3
    {
        font-size: xx-large;
    }

    .infos-diapos-heberg p
    {
        font-size: x-large;
    }

    .notations
    {
        font-size: xx-large;
    }
    
    a .imgheberg
    {
        width: 100%;
        max-width: 445px;
        max-height: 250px;
    }
    
    .hebergements
    {
        max-width: none;
        margin: 0 50px 0 50px;
        padding-bottom: 60px;
    }
}
     /*Desktop grand ecran*/
 @media all and (min-width: 1592px) and (max-width: 1892px) 
 {
    .body
    {
        width: 100%;
    }

    #section-hebergements
    {
        width: auto;
        margin: 50px 60px 0px 60px;
    }

    #section-hebergements h2
    {
        font-size: 2.2rem;
        padding: 40px 0 40px 80px;
    }
    
    .hebergements
    {
        max-width: none;
        margin: 0 50px 0 50px;
        padding-bottom: 60px;
    }

    a .imgheberg
    {
        width: 680px;
        max-height: 290px;
        min-width: 200px;
    }

    #container-diapos-hebergements
    {
        padding: 0 0 0 0px;   
    }

    .infos-diapos-heberg
    {
        padding: 15px 15px 10px 15px;
        margin: 25px;
    }

    .infos-diapos-heberg h3
    {
        font-size: 2.5rem;
        margin: 20px;
        font-weight: 900;
    }

    .infos-diapos-heberg p
    {
        font-size: xx-large;
        margin: 20px;
    }

    .notations
    {
        font-size: xx-large;
        margin: 30px 0 20px 20px;
    }
    
}

    /*Desktop pc portable*/
/*tablettes paysage (landscape)*/
@media all and (min-width: 1230px) and (max-width: 1858px) 
{
    .body
    {
        width: 100%;
    }
    
    #section-hebergements
    {
        width: auto;
        margin: 50px 60px 0 60px;
    }

    #section-hebergements h2
    {
        padding: 20px 0 30px 100px;
    }

    #container-diapos-hebergements
    {
        padding: 0 35px 0 30px;
    }
    
    .hebergements
    {
        max-width: none;
        margin: 0 50px 0 50px;
        padding-bottom: 60px;
    }
    
    .infos-diapos-heberg
    {
        padding: 5px 5px 10px 5px;
        margin: 25px;
    }

    a .imgheberg
    {
        width: 100%;
        max-height: 700px;
    }
}    
/*tablettes portrait*/
@media all and (min-width: 768px) and (max-width: 1230px) 
{
    .body
    {
        width: 100%;
    }

    #section-hebergements
    {
        width: fit-content;
        margin: 50px 40px 0px 50px;
        padding: 60px 20px 35px 20px;
    }

    .hebergements
    {
        max-width: none;
        margin: 0 50px 0 50px;
        padding-bottom: 60px;
    }

    .infos-diapos-heberg
    {
        padding: 5px 5px 5px 5px;
        margin: 25px;
    }

    a .imgheberg
    {
        width: 100%;
        max-height: 450px;
    }

    .infos-diapos-heberg h3
    {
        font-size: 1.5;
    }

    .infos-diapos-heberg p
    {
        font-size: 1.2rem;
    }
}

@media all and (min-width: 568px) and (max-width: 768px) 
{
    .body
    {
        width: 100%;
    }
    
    #section-hebergements
    {
        width: auto;
        margin: 50px 10px 0 10px;
    }

    #section-hebergements h2
    {
        font-size: 1.2rem;
        padding: 10px 0 30px 40px;
    }

    #container-diapos-hebergements
    {
        display: flex;
        flex-direction: column;
        padding: 0 20px 0 20px;
    }

    .hebergements
    {
        min-width: none;
        margin: 0 0 0 0px;
        padding-bottom: 60px;
    }

    .infos-diapos-heberg
    {
        padding: 5px 5px 5px 5px;
        margin: 25px;
    }

    a .imgheberg
    {
        width: 100%;
        max-height: 450px;
    }

    .Afficher_plus
    {
        padding: 0px 0px 0px 40px;
    }
}

@media all and (min-width: 320px) and (max-width: 568px)
{
    .body
    {
        width: 100%;
    }
    
    #section-hebergements
    {
        width: auto;
        margin: 50px 5px 0 5px;
    }

    #section-hebergements h2
    {
        font-size: 1.5rem;
        padding: 10px 0 30px 10px;
    }

    #container-diapos-hebergements
    {
        display: flex;
        flex-direction: column;
        padding: 0 0px 0 0px;
    }

    .hebergements
    {
        min-width: auto;
        margin: 0 0 0 0px;
        padding-bottom: 60px;
    }

    a .imgheberg
    {
        width: 100%;
        max-height: 450px;
    }

    .Afficher_plus
    {
        margin: 25px;
    }
}
       
/*********************************************************
Media queries Les plus populaires
*********************************************************/
@media all and (min-width: 1892px) and (max-width: 1951px)
{
    #section-lespluspopulaires 
    {
        width: auto;
        margin: 0 60px 0 60px;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 90px;
        font-size: 2.2rem;
    }

    .iconpop
    {
        padding: 10px 0 0 68%;
    }

    #container-diapos-lespluspopulaires
    {
        width: auto;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        padding: 5px 4em 5px 5px;
        margin: 40px 140px 0 90px;
    }
    
    #container-diapos-lespluspopulaires .imgpops 
    {
        min-width: 50%;
        max-height: 200px;
    }

    .informations h3
    {
        font-size: 1.8rem;
        margin: 0px 0 5px 35px;
    }

    .informations p 
    {
        font-size: 1.5rem;
        margin-left: 35px;
    }

    .notpop
    {
        margin: 10px 0 0 30px;
        font-size: 1.5rem;
    }  
}

    /*tablettes et pc portable*/
@media all and (min-width: 1547px) and (max-width: 1892px)
{
    #section-lespluspopulaires 
    {
        width: auto;
        margin: 0 60px 0 60px;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 100px;
    }

    .iconpop
    {
        padding: 10px 0 0 60%;
    }
    
    #container-diapos-lespluspopulaires
    {
        width: auto;
    }

    #container-diapos-lespluspopulaires .imgpops 
    {
        min-width: 50%;
        max-height: 200px;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        padding: 5px 4em 5px 5px;
        margin: 40px 140px 0 90px;
    }

    .container-imgpops
    {
        width: revert;
    }

    .informations h3
    {
        font-size: 1.8rem;
        margin: 0px 0 5px 35px;
    }

    .informations p 
    {
        font-size: 1.5rem;
        margin-left: 35px;
    }

    .notpop
    {
        margin: 10px 0 0 30px;
        font-size: 1.5rem;
    }  
}

@media all and (min-width: 1230px) and (max-width: 1547px) 
{
    #section-lespluspopulaires 
    {
        width: auto;
        margin: 0px 60px 0px 60px;
        padding: 30px 0px 30px 55px;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 70px;
    }

    .iconpop
    {
        padding: 10px 0 0 60%;
    }

    #container-diapos-lespluspopulaires .imgpops 
    {
        min-width: 50%;
        max-height: 200px;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        width: auto;
        padding: 5px 0em 5px 5px;
        margin: 30px 120px 30px 70px;
    }

    .informations h3
    {
        font-size: 1.8rem;
        margin: 0px 0 5px 35px;
    }

    .informations p 
    {
        font-size: 1.5rem;
        margin-left: 35px;
    }

    .notpop
    {
        margin: 10px 0 0 30px;
        font-size: 1.5rem;
    }  
}

/*tablettes portrait*/
@media all and (min-width: 768px) and (max-width: 1230px)  
{
    #section-lespluspopulaires 
    {
        width: auto;
        margin: 0px 40px 0px 50px;
        padding: 30px 0px 30px 55px;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 30px;
    }

    .iconpop
    {
        padding: 10px 0 0 30%;
    }

    #container-diapos-lespluspopulaires .imgpops 
    {
        min-width: 50%;
        max-height: 250px;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        width: auto;
        padding: 5px 0em 5px 5px;
        margin: 30px 110px 30px 15px;
    }

    .informations h3
    {
        font-size: 1.8rem;
        margin: 0px 0 5px 25px;
    }

    .informations p 
    {
        font-size: 1.5rem;
        margin-left: 15px;
    }

    .notpop
    {
        margin: 0px 0 0 15px;
        font-size: 1.5rem;
    }  
}

@media all and (min-width: 568px) and (max-width: 768px)
{
    #section-lespluspopulaires 
    {
        width: auto;
        margin: 20px 10px 0px 10px;
        padding: 40px 0px 40px 0px;
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 90px;
        font-size: 1.2rem;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        width: auto;
        margin: 30px 80px 30px 60px;
    }

    .lespluspopulaires
    {
        margin: 40px 130px 10px 30px;
    }

    #container-diapos-lespluspopulaires .imgpops
    {
        min-width: 50%;
        
    }

    .container-imgpops
    {
        width: revert;
        object-fit: cover;
    }

    .informations p
    {
        padding: 0 0 20px 0;
    }

    .iconpop
    {
        display: flex;
        padding: 10px 0 0 35%;
        font-size: 1.8rem;
    }

    .notpop
    {
        font-size: 1.2rem;
    }
}

    /*Mobiles*/
@media all and (min-width: 320px) and (max-width: 568px)
{
    #section-lespluspopulaires 
    {
        width: auto;
        margin: 20px 5px 0px 5px;
        padding: 40px 10px 40px 10px; /*permet de centrer la diapos*/
    }

    #section-lespluspopulaires .titre-pops h2
    {
        margin-left: 30px;
        font-size: 1.2rem;
    }

    #container-diapos-lespluspopulaires
    {
        width: auto;
    }

    #container-diapos-lespluspopulaires .lespluspopulaires
    {
        width: auto;
        margin: 30px;
        padding: 5px 0px 5px 5px;
    }

    #container-diapos-lespluspopulaires .imgpops
    {
        width: auto;
        min-width: 40%;
    }

    .container-imgpops
    {
        width: revert;
        object-fit: cover;
    }

    .informations h3
    {
        font-size: 0.98rem;
        font-weight: bold;
    }

    .informations p
    {
        font-size: 0.83rem;
        padding: 0 0 20px 0;
    }

    .titre-pops
    {
        padding: 0 0 0 0;
    }

    .iconpop
    {
        display: flex;
        padding: 10px 0 0 35%;
        font-size: 1.8rem;
    }

    .notpop
    {
        font-size: 0.88rem;
        margin-top: 20px;
    }
}

/*************************************
Media queries section activités
*************************************/

@media screen and (max-width: 1960px)
{
    .body
    {
        width: 100%;
    }
    
    .main 
    {
        width: 100%;
    }
}

@media all and (min-width: 1691px) and (max-width: 1890px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        max-width: 100%;
    }   
}

/*************************************
affichage mobile
*************************************/
@media all and (min-width: 1425px) and (max-width: 1588px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 100%;
        height: auto;
        margin: 0 0 0 0;
    }

    #container-diapos-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vieuxport
    {
        width: 92%;
        height: 50%;
        margin: 0 0 40px 60px;
        justify-content: center;
    }

    .flex-col
    {
        width: 92%;
        height: 100%;
        margin: 0px 10px 40px 60px;
        justify-content: center;
    }

    .calanque
    {
        width: 92%;
        height: 50%;
        margin: 0 10px 40px 60px;
        justify-content: center;
    }

    .imghte
    {
        height: 206px;
    }

    #section-activites h2
    {
        padding: 40px 0 30px 80px;
    }
}

@media all and (min-width: 1230px) and (max-width: 1425px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 100%;
        height: auto;
        margin: 0 0 0 0;
    }

    #container-diapos-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vieuxport
    {
        width: 91%;
        height: 50%;
        margin: 0 0 40px 60px;
        justify-content: center;
    }

    .flex-col
    {
        width: 91%;
        height: 100%;
        margin: 0px 10px 40px 60px;
        justify-content: center;
    }

    .calanque
    {
        width: 91%;
        height: 50%;
        margin: 0 10px 40px 60px;
        justify-content: center;
    }

    .imghte
    {
        height: 206px;
    }

    #section-activites h2
    {
        padding: 40px 0 30px 80px;
    }
}

@media all and (min-width: 768px) and (max-width: 1230px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 100%;
        height: auto;
        margin: 0 0 0 0;
    }

    #container-diapos-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vieuxport
    {
        width: 90%;
        height: 50%;
        margin: 0 0 40px 50px;
        justify-content: center;
    }

    .flex-col
    {
        width: 90%;
        height: 100%;
        margin: 0px 10px 40px 50px;
        justify-content: center;
    }

    .calanque
    {
        width: 90%;
        height: 50%;
        margin: 0 10px 40px 50px;
        justify-content: center;
    }

    .imghte
    {
        height: 206px;
    }

    #section-activites h2
    {
        padding: 40px 0 30px 80px;
    }
}

@media all and (min-width: 568px) and (max-width: 768px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 90%;
        height: auto;
        margin: 0 0 0 13px;
    }

    #container-diapos-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vieuxport
    {
        width: 105%;
        height: 50%;
        margin: 0 10px 40px 5px;
        justify-content: center;
    }

    .flex-col
    {
        width: 105%;
        height: 100%;
        margin: 0px 10px 40px 5px;
        justify-content: center;
    }

    .calanque
    {
        width: 105%;
        height: 50%;
        margin: 0 10px 40px 5px;
        justify-content: center;
    }

    .imghte
    {
        height: 206px;
    }

    #section-activites h2
    {
        padding: 40px 0 30px 20px;
    }
}

@media all and (min-width: 320px) and (max-width: 568px)
{
    .body
    {
        width: 100%;
    }
    
    #section-activites
    {
        width: 90%;
        height: auto;
        margin: 0 0 0 13px;
    }

    #container-diapos-activites
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vieuxport
    {
        width: 100%;
        height: 50%;
        margin: 0 10px 40px 5px;
        justify-content: center;
    }

    .flex-col
    {
        width: 100%;
        height: 100%;
        margin: 0px 10px 40px 5px;
        justify-content: center;
    }

    .calanque
    {
        width: 100%;
        height: 50%;
        margin: 0 10px 40px 5px;
        justify-content: center;
    }

    .imghte
    {
        height: 206px;
    }

    #section-activites h2
    {
        padding: 40px 0 30px 20px;
        font-size: 1.5rem;
    }
}

/*************************************
Media Queries Footer
*************************************/
@media all and (min-width: 768px) and (max-width: 1588px)
{
    .body
    {
        width: 100%;
    }
    
    footer
    {
        width: 100%;
        height: auto;
        margin: auto;
    }

    .bloc
    {
        margin: 0 40px 50px 35px;
    }
}

@media all and (min-width: 768px) and (max-width: 1230px)
{
    .contenu
    {
        display: flex;
        flex-direction: column;
        
    }
}


@media all and (min-width: 568px) and (max-width: 768px)
{
    .body
    {
        width: 100%;
    }
    
    footer
    {
        width: auto;
        height: auto;
        margin: auto;
    }

    .bloc
    {
        width: auto;
        margin: 30px 0px 30px 20px;
    }

    .contenu
    {
        display: flex;
        flex-direction: column;
        
    }
}

/*footer Mobiles*/
@media all and (min-width: 320px) and (max-width: 568px)
{
    .body
    {
        width: 100%;
    }
    
    footer
    {
        width: auto;
        height: auto;
        margin: auto;
    }

    .bloc
    {
        width: auto;
        margin: 30px 0px 30px 20px;
    }

    .contenu
    {
        display: flex;
        flex-direction: column;        
    }

    .a_propos a,
    .nos_hebergements a,
    .assistance a
    {
        font-size: 1rem;
    }
}
