*
{
    margin: 0;
    padding: 0;  
    font-family: 'Raleway', sans-serif;
}

body
{
    color: #f2f2f2;
}

h1, h2, h3
{
    color: black;
    margin-left: 30px;
}

p
{
    color: black;
    margin-left: 30px;
    font-size: 1em;
    line-height: 10px;
    margin-top: 10px;

}


/******************************
de menu
*******************************/

.menu
{
    display: grid;
    position: relative;
    justify-content: flex-end;
    color: #0065FC;
}
nav ul
{
    list-style-type: none;
    display: flex;
    padding-right: 50%;
}

nav li
{
    margin-right: 15px;
    margin: 10px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #0d0aa0;
    border-bottom: 3px solid #760001;
}


/********************************
barre de recherche
********************************/

#site-search /* zone de saisie */
{
    border-radius: 10px;                   /* rayon de la bordure */
    padding: 11px;                        /* remplissage de la zone de saisie */
    outline-color: rgb(247, 247, 242);                        /* contour */
    outline: 10px;
    padding-left: 50px;                   /* remplissage à gauche */
    margin-top: 10px;                       /* haut de la marge */
    margin-bottom: 20px;                  /* marge inférieure */
    color: #090911;                       
    text-size-adjust: 4em;                /* ajustement de la taille du texte */  
    border-left: none;
    border-right: none;
    font-size: 20px;                        /* taille de police */
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
    border: 2px solid rgb(252, 250, 250);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 55px;
}


.icone 
{
    position: relative;
    height: 20px;
    width: 20px;
    font-size: 1.2rem;
    background-color: rgb(247, 243, 243);
    padding: 15px 20px;
    left: 32px;
    top: 50%;
    border: 2px solid rgb(253, 252, 252);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transform: translateY(-50%);
    color: black;
}



.research /*Button search*/
{
    position: relative;
    background-color: #0065FC;
    font-size: 1.2rem;
    border-radius: 0px;
    outline-color: white;                       /* couleur du contour */
    width: 140px;
    height: 55px;
    color: white;
    font-weight: bold;                          /* poids de la police: gras */
    border-color:  #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 2px solid #0065FC;
    transform: translateX(-5%);
    transition: opacity 0.4s;
}

.research:hover
{
    opacity: 0.8;
}