*
{
    margin: 0;
    padding: 0;  
    font-family: 'Raleway', sans-serif;
}

body
{
    color: #f2f2f2;
}

h1, h2, h3
{
    color: black;
    margin-left: 30px;
}

p
{
    color: black;
    margin-left: 30px;
    font-size: 1em;
    line-height: 10px;
    margin-top: 10px;

}


/* Navigation*/

.menu
{
    display: grid;
    position: relative;
    justify-content: flex-end;
    color: #0065FC;
}
nav ul
{
    list-style-type: none;
    display: flex;
    padding-right: 50%;
}

nav li
{
    margin-right: 15px;
    margin: 10px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #0d0aa0;
    border-bottom: 3px solid #760001;
}


/*barre de recherche*/

#site-search /* zone de saisie */
{
    border-radius: 0px;                   /* rayon de la bordure */
    padding: 11px;                        /* remplissage de la zone de saisie */
    outline-color: rgb(240, 240, 239);                        /* contour */
    padding-left: 50px;                   /* remplissage à gauche */
    margin-top: 0px;                       /* haut de la marge */
    margin-bottom: -1px;                  /* marge inférieure */
    color: #0d0aa0;                       
    text-size-adjust: 4em;                /* ajustement de la taille du texte */  
    border-bottom-left-radius: 1em;       /* rayon en bas à gauche de la bordure */
    border-top-left-radius: 1em;          /* rayon supérieur gauche de la bordure */
    font-size: 20px;                        /* taille de police */
    font-weight: bold;
    font-family: 'Raleway', Arial, sans-serif;
}


.icone 
{
    position: relative;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}


/*Button search*/
.research
{
    position: absolute;
    background-color: #0065FC;
    border-radius: 0px;
    outline-color: white;                       /* couleur du contour */
    font-size: 20px;
    width: 150px;
    height: 50px;
    color: white;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    font-weight: bold;                          /* poids de la police: gras */
}